<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>header}}

    
  </head>
  <body>
    <div class="container">
      <div class="box form-box">
       <h2>Login to your account</h2>
    <form action="/login" method="POST">
      <div class="mb-3 field input">
        <label for="email" class="form-label">Email
           <input
          type="email"
          class="form-control"
          name="email"
          required
        />

        </label>
       
        
      </div>
      <div class="mb-3 field input">
        <label for="exampleInputPassword1" class="form-label">Password
           <input
          type="password"
          class="form-control"
          name="password"
          required
        />
        </label>
       
      </div>
      <div class="mb-3  form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
      </div>
      <div class="field">
         <input type="submit"  class="btn" value="Login" />
      </div>
     
    </form>
    <div class="link">
      <span>Not having an account? <a href="register">Signup</a>
      </span>
      </div>
    </div>
    </div>
  
  </body>
</html>